@using MovieStoreRentalService.DTO
@{
    ApplicationUser user = (ApplicationUser)ViewBag.User;
    RentalDTO[] rentals = (RentalDTO[])ViewBag.Rentals;
}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="~/img/userIcon.svg"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">@user.UserName</h3>

                <p class="text-muted text-center">@user.Email</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Rented Movies</b> <a class="float-right">@rentals.Length</a>
                  </li>
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">My Rentals</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                @if(rentals.Length == 0)
                {
                    <strong> None </strong>
                    <hr>
                }
                else
                {
                    @foreach(RentalDTO rental in rentals.Take(5))
                    {
                        <!-- Individual Movice -->
                    <strong><i class="fas fa-video"></i> @rental.Name</strong>

                    <p class="text-muted">
                      @(rental.Description == null ? "" : rental.Description)
                    </p>

                    <hr>
                    <!-- /Individual Movice -->    
                    }
                }
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            
              @if(rentals.Length == 0)
              {
                        <strong> No activity yet </strong>
                    }
                    else
                    {
                        <div class="card">

                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">

                                        <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                                            <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                                                <!-- timeline time label -->

                      @foreach (RentalDTO rental in rentals)
                      {
                          <div class="time-label">
                            <span class="bg-blue">
                              @(rental.TimeAdded.ToString("dd/MM/yyyy"))
                            </span>
                          </div>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <div>
                            <i class="fas fa-video bg-black"></i>

                            <div class="timeline-item">
                              <span class="time"><i class="far fa-clock"></i> @((DateTime.UtcNow - rental.TimeAdded).Days == 0 ? "Today" : $"{(DateTime.UtcNow - rental.TimeAdded).Days} days ago")</span>

                              <h3 class="timeline-header"> <strong>@(rental.Name)</strong> added to cart</h3>

                            </div>
                          </div>
                      }

                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  </div>
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->

                  </div>
              }

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->